@media all and (max-width: 768px) {
    header {
        flex-direction: column;
        align-items: center;
    }

    header #logo {
        padding: 50px 50px 20px 150px;
    }

    header #logo img {
        width: 60%;
    }

    header nav ul li {
        padding: 10px 72px;
        border-bottom: 2px solid #F2F2F2;
        margin: 0px 0px 0 -50px;
        border-top: none;
    }

    header nav ul li:hover {
        border-color: #0065FC;
    }

    body {
        font-size: 14px;
    }

    body header li {
        font-size: 18px;
    }

    main {
        padding: 20px 30px 0px 55px;
    }

    h1 {
        font-size: 22px;
    }

    .subtitle {
        font-size: 15px;
    }

    .searchbar {
        width: 100%;
    }

    .searchbar input {
        margin-left: 25px;
    }

    .searchbar button .fa-search {
        display: block;
    }

    .searchbar button span {
        display: none;
    }

    #filter {
        flex: unset;
        flex-direction: column;
        align-items: flex-start;
    }

    #filter .filter-box i .fas fa-child {
        position: relative;
        left: 160px;
        bottom: 55px;
    }


    #hebergement .marseille .hebergement-list {
        flex-direction: column;
    }

    #hebergement .marseille .hebergement-list a {
        width: 100%;
    }

    #activite .activite-list .column {
        width: 100%;
    }

    .activite-list .column article,
    .activite-list .column.double article {
        height: 250px;
        margin-bottom: 20px;
    }

    footer {
        flex-direction: column;
    }
}
