* {
    box-sizing: border-box;
}

#navbar {
    display: flex;
    flex-direction: row;
}

.logo-booki {
    padding: 26px;
    width: 60%;
}

.menu {
    list-style-type: none;
    margin: 30px;
    padding: 0;
    display: inline;
    flex: auto;
}

.menu li {
    display: inline;
    float: right;
}

#navbar a {
    color: black;
    display: block;
    padding: 15px;

}

.menu a:hover {
    color: #0065FC;
}

body {
    font-family: 'Raleway', sans-serif;
    max-width: 1920px;
    margin: 0 auto;
}

.searchbar {
    display: inline-flex;
    border-style: groove;
    margin-left: 5%;
}


.searchbar i {
    border-style: groove;
    display: inline-block;
    text-rendering: auto;
    padding-right: 20px;

}

.searchbar button {
    border-style: unset;
    padding: 10px;
    border-radius: 5px;
}

.searchbar p {
    padding-right: 45px;
    padding-left: 10px;
}

.filters-selection {
    display: flex;
}

.filters-selection ul {
    display: inline-flex;
}

.filters-selection ul li {
    border-style: groove;
}


.info {
    display: flex;
}

.info .fas.fa-info {
    color: #0065FC;
    border: 1px solid grey;
    border-radius: 100%;
    width: 25px;
    height: 25px;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}

/************************************
* Hébergements *
************************************/
#hebergement {
    display: flex;
    justify-content: space-between;
}

#hebergement section h2 {
    margin-top: 0px;
}

#hebergement section .container {

    padding: 20px 20px 10px 20px;
    border-radius: 20px;
    height: calc(100% - 120px);
    box-sizing: content-box;
}

.hebergement-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.hebergement-list a {
    width: 30%;
    margin-bottom: 50px;
}

.hebergement-list a article {
    background-color: white;
    padding: 6px;
    border-radius: 25px;
    height: 100%;
}

.hebergement-list a article:hover {
    box-shadow: 5px 5px 5px 0px #E2E2E2;
}

.hebergement-list a article .fa-star.blue {
    color: #0065FC;

}

.hebergement-list a article .fa-star.grey {
    color: grey;
}

.hebergement-list a article img {
    width: 100%;
    height: 200px;
    border-radius: 25px 25px 0px 0px;
    object-fit: cover;
}

.hebergement-list a {
    color: black;
    text-decoration: none;
}

.hebergement-list a article .article-content {
    padding: 10px 10px 0px 10px;
}

.hebergement-list a article .article-content h3,
.hebergement-list a article .article-content p {
    margin: 6px;
}

.hebergement-list a article .article-content .price.bold {
    font-weight: bold;
}

/************************************
* Marseille *
************************************/
#hebergement .marseille {
    width: 60%;
}

#hebergement .marseille .subtitle {
    font-weight: bold;
    font-size: 120%;
}

/************************************
* Populaire *
************************************/
#hebergement .populaire .chart-icone {
    position: absolute;
    top: 20px;
    right: 20px;
}

#hebergement .populaire {
    width: 35%;
    position: relative;
}

#hebergement .populaire .hebergement-list {
    flex-direction: column;
}

#hebergement .populaire .hebergement-list a {
    width: 100%;
}

#hebergement .populaire .hebergement-list a article {
    display: flex;
    flex-direction: row;
}

#hebergement .populaire .hebergement-list a article img {
    border-radius: 25px 0px 0px 25px;
    width: 35%;
}

#hebergement .populaire .hebergement-list a article .article-content {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

#activite {
    margin-bottom: 60px;;
}

.activite-list {
    display: flex;
    justify-content: space-between;
    height: 600px;
}

.activite-list .column {
    width: 23%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 25px;
}

.activite-list .column article img {
    width: 100%;
    height: calc(100% - 67px);
    object-fit: cover;
    border-radius: 25px 25px 0px 0px;
}

.activite-list .column article {
    height: 100%;
    box-shadow: 0px 0px 10px 0px #E0E0E0;
    border-radius: 25px;
}

.activite-list .column article h3 {
    padding: 21px;
    margin: 0px;
}

.activite-list .column.double article {
    height: 48%;
}


footer {
    background-color: grey;
}

footer > col-3 {
    width: 90%;
}

.col-3 {
    display: inline-block;
    width: 33%;
    vertical-align: top;
}